In [36]:
import pandas as pd

train = pd.read_csv('../data/train.csv')
train.head()

,id,book_name,char,caption,content,label
0,46,In Search of the Castaways,Thalcave,NaN,Thalcave’s people faded as colonists advanced;...,consistent
1,137,The Count of Monte Cristo,Faria,The Origin of His Connection with the Count of...,"Suspected again in 1815, he was re-arrested an...",contradict
2,74,In Search of the Castaways,Kai-Koumou,NaN,Before each fight he studied the crack-pattern...,consistent
3,109,The Count of Monte Cristo,Noirtier,The Complexity of Family and Personal Life,Villefort’s drift toward the royalists disappo...,contradict
4,104,The Count of Monte Cristo,Noirtier,Involvement and Turning Point in the French Re...,His parents were targeted in a reprisal for su...,consistent

In [37]:
train.shape

(80, 6)

In [38]:
train.columns

Index(['id', 'book_name', 'char', 'caption', 'content', 'label'], dtype='object')

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         80 non-null     int64
 1   book_name  80 non-null     object
 2   char       80 non-null     object
 3   caption    31 non-null     object
 4   content    80 non-null     object
 5   label      80 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.9+ KB

In [40]:
train['label'].value_counts()

label
consistent    51
contradict    29
Name: count, dtype: int64

In [41]:
train['book_name'].value_counts()

book_name
In Search of the Castaways    49
The Count of Monte Cristo     31
Name: count, dtype: int64

In [42]:
BOOK_MAP = {
    'In Search of the Castaways' : '../data/books/In search of the castaways.txt',
    'The Count of Monte Cristo' : '../data/books/The Count of Monte Cristo.txt'
}

In [45]:
row = train.iloc[0]

book_path = BOOK_MAP[row['book_name']]
book_text = open(book_path, encoding='utf-8').read()

backstory = row['content']
label = row['label']

len(book_text.split()), backstory, label,book_path

(138830,
 'Thalcave’s people faded as colonists advanced; his father, last of the tribal guides, knew the pampas geography and animal ways, while his mother died giving birth. Boyhood was spent roaming the plains with his father, learning to track, tame horses and steer by the stars.',
 'consistent',
 '../data/books/In search of the castaways.txt')